.form-label{
	font-size:13px;
}
.width-3{
	width:80%;
}
.width-2{
	width:50%;
}
.col-3-4{
	float:left;
	width:60%;
	margin-right:2px;
}
.col-1-4{
	float:left;
	width:20%;
}
.gender-width{
	width:35%;
}
.nationality-width, .doc-proof-type-width{
	width:70%;
}
.margin-bottom-5{
	margin-bottom:5px;
}
.permanent-address{
	width:50%;
	float:left;
}
.same-as-local{
	float:left;
	margin:0px;
}
.add-verification-docs, .add-master-account-type-docs{
	margin-top:20px;
}
.add-verification-docs-but, .add-master-account-type-docs-but{
	width:100px;
}
.margin-none{
	margin:0px;
}
.padding-none{
	padding:0px;
}
.next-btn{
	text-align:right;
	margin-right:75px;
}
input.error, select.error, textarea.error{
	border:1px solid red;
}
span.error{
	color: red;
}
.menu-tool-bar{
	padding-bottom:0px;
	overflow:unset;
}
td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
	cursor: pointer;
}
#menu .right-side .content .crud-menu > a.active{
	background: /*#F4F4F4;*/#76CDFF;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0px 0px 4px rgba(0, 0, 0, 0.3);
    box-shadow:         0px 0px 4px rgba(0, 0, 0, 0.3);
}
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding:1em 1.4em 1.4em 1.4em !important;
    margin: 0px 15px 1.5em !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}
legend.scheduler-border {
	font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
    margin: 0px;
}
.or{
	display:block;text-align:center;padding: 5px;
}