.form-label{
	font-size:13px;
}
.width-3{
	width:80%;
}
.col-3-4{
	float:left;
	width:60%;
	margin-right:2px;
}
.col-1-4{
	float:left;
	width:20%;
}
.gender-width{
	width:35%;
}
.nationality-width, .doc-proof-type-width{
	width:70%;
}
.margin-bottom-5{
	margin-bottom:5px;
}
.permanent-address{
	width:50%;
	float:left;
}
.same-as-local{
	float:left;
	margin:0px;
}
.add-verification-docs, .add-master-account-type-docs{
	margin-top:20px;
}
.add-verification-docs-but, .add-master-account-type-docs-but{
	width:100px;
}
.margin-none{
	margin:0px;
}
.padding-none{
	padding:0px;
}
.next-btn{
	text-align:right;
	margin-right:75px;
}
input.error, select.error, textarea.error{
	border:1px solid red;
}
span.error{
    position: relative;
    background: #C03737;
    border: 1px solid #830303;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
span.error:after, span.error:before {
    position: absolute;  
    content: "";
    width: 0; 
	height: 0; 
    top: 50%;
}
span.error:before {
    right: -8px;
    margin-top: -8px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent; 
	border-left: 8px solid #830303; 
}
span.error:after {
    right: -7px;
    margin-top: -7px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent; 
	border-left: 7px solid #C03737; 
}
.menu-tool-bar{
	padding-bottom:0px;
	overflow:unset;
}